@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>DT265 Enterprise Application Development. Course Assignment 2</p>
<table class="table">
    <tr>
        <th>
            Student Number
        </th>
        <th>
            Student Name
        </th>
        <th>
            Course Name
        </th>
        <th>
            Course Work
        </th>
        <th>
            Lecturer
        </th>
    </tr>

    
    
        <tr>
            <td>
                D1xxxxxxx
            </td>
            <td>
                Xxxxxxx xxx
            </td>
            <td>
                Enterprise Application Development 
            </td>
            <td>
                CA1 MVC Application
            </td>
            <td>
                 John Walsh
            </td>
        </tr>

    

</table>
